<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Welcome</h1>
	<p><a th:href="@{/employees/add}" >Create Employees</a></p>
	<p><a th:href="@{/employees}">Show Employees</a></p>
	<p><a th:href="@{/createleavetype}">Create New Leave Type</a></p>
	<p><a th:href="@{/leavetypes}">Show Leave Types</a></p>
	<p><a th:href="@{/createpublicholiday}">Create Public Holiday</a></p>
	<p><a th:href="@{/publicholidaylists}">Show Public Holidays</a></p>
	
</body>
</html>